// Colours
$pink: #ed1f78;
$blue: #53c2ea;
$green: #43b870;
$yellow: #fff46d;
$terracotta: #f27052;
$white: #ffffff;
$black: #333333;

// Fonts
$avallon: "Avallon", sans-serif;
$merlodnormesemibold: "Merlod Norme Semi Bold", sans-serif;
